@import url("https://fonts.google.com/css?family=Verdana:wght@100;200;300;400;500;600;700;800;900&display=swap");

p {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: rgb(246, 63, 63);
  font-family:  Verdana, sans-serif;;
  font-size: 40px;
}
.carousel-indicators {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
body {
  margin: 0;
  color: transparent;
  background-color: transparent;
  background-image: url(black.png);
}

* {
  font-size: 90%;
  position: relative;
  width: 89%;
  text-align: center;
  color: red;
  margin: 0px;
  padding: 0px;
  font-family:  "Verdana", sans-serif;;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

div.carousel-indicators {
  position: relative;
  justify-content: space-around;
  opacity: 0;
  padding: 0;
  margin-right: 300%;
  margin-bottom: 1rem;
  margin-left: 15%;
  background-color: transparent;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
    background-color: transparent
    
}