.page1 {
    background-image: url(1.png);
    background-color: #000;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: absolute;
    background-size: cover;
  }
  .page2{
    background-image: url(lgn.png);
    background-color: #000;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: absolute;
    background-size: cover;
  }
  .page3{
    background-image: url(3.png);
    background-color: #000;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: absolute;
    background-size: cover;
  }
  .page4{
    background-image: url(9.png);
    background-color: #000;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-position: absolute;
    background-size: cover;
  }
  
  
  
  .container .page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
  }
  
  .content {
    text-align:left;
    color: white;
    padding: 10px;
  }
  
  h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
  }
  .page2 p{
    text-align: left;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    min-height: 50px;
  }
  
  .menu{
    color:white;
    font-size: 40px;
  
  }
  .button {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 21px;
  }
  
  
  .offcanvas-body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: large;
    min-height: 2px;
    background-color: #000;
    color:white;
  }
  .offcanvas-body a {
    text-decoration: none;
  }
  .offcanvas-header{
    background-color: #000;
    color: white;
  }
  .offcanvas-top.end-0 {
    top: 0;
    right: 0;
    width: 300px; 
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #f00;
    border: #000;
  }
  
  .offcanvas-top.end-0.show {
    transform: translateX(0);
    background-color: #f00;
    border: #000;
  }
  .offcanvas-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #f00;
    border: #000;
  }
  
  .offcanvas-toggle.btn {
    margin-top: 48px; /* adjust the margin to align with the header */
    color: white;
    background-color: #f00;
    border: #000;
    padding: 10px 20px;
    margin-right: 50px;
  }
  .offcanvas-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #f00;
    border: #000;
  }
  .offcanvas-toggle.btn:hover {
    background-color: #f00;
  }
  .offcanvas-toggle btn-primary {
    --bs-btn-hover-border-color: rgba(255, 255, 255, 0);
  }
  
  .interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }
  
  section{
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    transition-delay: 2s;
    align-items: center;
    justify-content: center;
    color: white;
  }