* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: white;
}

header nav h1 {
  font-weight: bold;
  font-size: 2.0rem;
  color: rgb(0, 0, 0);
}

#LC{
  display: flex;
  flex-wrap: wrap;
  padding: 0.5px;
  gap: 0rem;
  border-bottom: solid 1px #000000;
  background-color: #ffffff;
}


#LC a{
  display: inline-block;
  min-width: 7rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 3px #000000;
  text-align: center;
  text-decoration: none;
  color: #000000;
 
}

#LC li a{
  display: inline-block;
  padding: 10px;
  
}

#LC li a:hover {
  background-color: rgb(105, 105, 105);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 7rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px #000000;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

nav li {
  display: inline-block;
  padding: 10px;
}

main {
  padding: 1rem;
}